*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blue;
    height: 100vh;
    width:100%;
}
.container{
    width: 425px;
    height: auto;
    display: flex;
    justify-content: center;
}